.categoryCard {
  display: grid;
  place-items: center;
  background-color: var(--color-secondary);
  height: 5em;
  width: 9em;
  border-radius: 1em;
  font-size: 0.9em;
  padding: 0 0.2em;
  color: var(--color-card-text);
  font-weight: bold;
}

a {
  text-decoration: none;
}
